@model mynb.Models.User

@{
    ViewBag.Title = "Index";
}

<h2>Авторизация</h2>
<p>Status: @Model.status</p>
@using (Html.BeginForm())
{
    <div class="col-lg-2 block">
        Логин:
    </div>

    <div class="col-lg-6">
        @Html.TextBox("login", Model.login, new { @class = "form-control"})   
    </div>
    <div class="col-lg-4"><mark>@Html.ValidationMessage("login")</mark></div>

    <div class="col-lg-4">
        Пароль:
    </div>
    <div class="col-lg-6">
        @Html.Password("passw", Model.passw, new { @class = "form-control" } )
    </div>
    <div class="col-lg-4"><mark>@Html.ValidationMessage("passw")</mark></div>


    <div class="col-lg-4 block"> </div>
    <div class="col-lg-4">
        <input type="submit" value="Вход" class="btn lg btn-primary" />
    </div>



}

